.dropDown {
    flex-wrap: wrap;
    margin: 20px 0px;
    width: 47%;
    position: relative;
}

.dropDownHeader {
    height: 52px;
    padding: 0 20px;
    background-color: #FF6060;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleDropDown {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.dropDownHeader img {
    color: #FFFFFF;
    position: absolute;
    width: 24px;
    height: 13px;
    right: 18px;
}

.arrow_open {
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;
}

.arrow_close {
    transform: rotate(180deg);
    transition: transform 0.4s ease-in-out;
}

.dropDownContent {
    color: #FF6060;
    background-color:#F6F6F6 ;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    border-radius: 10px;
    z-index: -1;
    box-sizing: border-box;
}

.dropDownContent.close {
    height: 0px;
    overflow: hidden;
}

.dropDownContent.open {
    height: auto;
}

.dropDownContentText {
    margin: -11px 20px 40px 20px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.dropDownContentText p {
    display: flex;
    flex-direction: column;
}

/* Responsive  */

@media screen and (max-width: 768px) {
    .dropDownContent {
        font-size: 12px;
    }

    .dropDownContentText {
        margin: -11px 10px 5px 20px;
        padding-bottom: 20px;
        padding-top: 15px;
    }

    .titleDropDown {
        font-size: 14px;
    }

    .dropDownHeader {
        height: 30px;
    }

    .dropDownHeader img {
        height: 9px;
    }

}