.tagLocation {
    background-color: #FF6060;
    display: flex;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    gap: 10px;
    border-radius: 10px;
    height: 25px;
    align-items: center;


}

.tagText {
    display: flex;
    align-items: center;


    padding: 0 20px;

    justify-content: center;
    width: auto;
    height: 25px;

}

/* Responsive */

@media screen and (max-width: 768px) {
    .tagLocation {
        height: 18px;
        align-items: center;
    }
}