.ContainerPropos {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.dropDownAbout {
    max-width: 1023px;
    font-weight: 500;
    font-size: 24px;
    margin: 0 auto
}

.dropDownAbout .dropDown {
    width: 100%;
}

/** Responsive **/

@media screen and (max-width: 768px) {

    .homeBanner {
        margin-top: 10px;
        height: 223px;
    }

    .dropDownAbout {
        width: auto;
    }

    .dropDownAbout p {
        font-size: 12px;
    }

    .dropDownAbout h2 {
        font-size: 14px;
    }
}