.logementPage {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.profilLogement {
    display: flex;
    justify-content: space-between;
}

.detailLogement {
    margin: 20px 20px 20px 0px;
}


.detailLogement h2 {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}

.detailLogement p {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    height: 26px;
}

.tagLogement {
    display: flex;
    gap: 10px;
    margin: 20px 20px 20px 0px;
    flex-wrap: wrap;
}

.tagLogement p {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    color: #FFFFFF;
}


.hostRate {
    width: 335px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: right;
}

.hostRate .host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.hostRate .host img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background: #C4C4C4;
}

.hostRate .host p {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    line-height: 142.6%;
    text-align: right;
    width: 30%;
    margin: 10px;
}

.hostRate .rate {
    text-align: right;
}

.dropDownLogement {
    display: flex;
    /* justify-content: space-around;  */
    gap: 10px; 
} 

/* Responsive */

@media screen and (max-width: 768px) {

    .profilLogement {
        flex-direction: column;
    }

    .detailLogement {
        margin: 10px 10px 10px 0px;
    }

    .detailLogement h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .hostRate .host p {
        font-size: 14px;
    }

    .hostRate {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: auto;
    }

    .tagLogement p {
        font-size: 10px;
        justify-content: center;
    }

    .tagLogement {
        flex-wrap: wrap;
        margin: 10px 10px 10px 0;
    }

    .dropDownLogement {
        flex-wrap: wrap;
        width: 100%;

    }
}