.home {
    max-width: 1240px;
    margin: 0px auto;
}



.card_logement {
    max-width: 1240px;
    border-radius: 25px;
    background: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:  60px;
    margin: 40px 20px 20px 20px;
    gap: 20px;
    
}

/* Responsive */

@media screen and (max-width: 768px) {
    .card_logement {
        margin: 20px;
        padding: 0px;
        gap: 20px;
    }
}