.card {
    width: 340px;
    height: 340px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    display: flex;
    margin: 20px auto;
}

.imgCard {
    object-fit: cover;
    position: absolute;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    opacity: .6;
}

.card h2 {
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    top: 260px;
    left: 10px;
}

/* Responsive */

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        margin: auto;
        height: 335px;
    }

    .imgCard {
        width: 100%;
    }

}