.slideshowContainer {
    max-width: 1240px;
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
}

.imgSlideshow {
    object-fit: cover;
    border-radius: 25px;
    height: 415px;
    width: 100%;
}

.arrowHidden,
.numberImgHidden {
    display: none;
}

.leftArrow {
    display: flex;
    position: absolute;
    cursor: pointer;
    background: transparent;
    left: 30px;
}

.rightArrow {
    display: flex;
    position: absolute;
    cursor: pointer;
    background: transparent;
    right: 30px;
}

.numberImg {
    bottom: 20px;
    left: 50%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
}

/* Responsive */

@media screen and (max-width: 768px) {
    .leftArrow {
        height: 25px;
        left: 10px;
    }

    .rightArrow {
        height: 25px;
        right: 10px;
    }

    .imgSlideshow {
        height: 335px;
    }

    .numberImg {
        display: none;
    }
}